.dialog-container {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.title-dialog {
    color: #9b57ff;
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.25rem;
}