<div class = "row">
    <div class = "col-12 col-md-3 col-lg-2">
        <div class = "pt-3 ps-3">
            <mat-form-field appearance="fill" class = "d-block">
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="search">
            </mat-form-field>
            <div class="d-grid pb-3">
                <button
                    mat-raised-button
                    type="button"
                    color = "primary"
                    (click)="hideControls()"><mat-icon>add_circle</mat-icon> {{ hideDrawingControls ? 'New Field' : 'Cancelar' }}</button>
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="polygonsCompleted">
                <mat-card  class = "mb-3" *ngFor="let polygon of polygonsCompleted | searchFilter: search" (click)="selectPolygon(polygon)" [ngClass]="{'selected-card': polygon.selected}" type="button">
                    <mat-card-content class = "d-flex align-items-center p-1 pe-auto">
                        <mat-icon color="primary">location_on</mat-icon>
                        <div class = "ps-1 d-flex flex-column">
                            <small>{{ polygon.name }}</small>
                        </div>
                        <button mat-icon-button color="warn" class = "ms-auto" (click)="selectPolygon(polygon, false); deletePolygon(polygon.id);">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class = "col-12 col-md-9 col-lg-10">
        <div #googleMap class = "map"></div>
    </div>
</div>